{% extends "base.html" %}

{% block title %}
    Stream
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex">
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h4 class="center-align">Stream</h4>
    <p class="center"><i>The stream requires a minimum internet speed of <b>5mbps</b>, you can check you speed <a
            href="https://www.speedtest.net/" target="_blank">here</a></i></p>
    <div class="valign-wrapper center-block" style="width: 80%">
        <video id="stream" class="video-js" controls preload="none"
               data-setup="{}">
            <source src="{{ stream_source }}" type="application/x-mpegURL"/>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    <script>
        videojs.addLanguage('en', {"The media could not be loaded, either because the server or network failed or because the format is not supported.": "We are not currently streaming."});
        var player = videojs('stream');
        player.fluid(true);
    </script>
    <script>
        var length = 15;
        var token_chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
        var token = "";

        function generate() {
            for (var i = 1; i < length; i++) {
                var index = Math.ceil(Math.random() * token_chars.length) - 1;
                token = token + token_chars[index];
            }
        }

        function send_token() {
            var xhttp = new XMLHttpRequest();
            xhttp.open('GET', 'viewtick/' + token, true);
            xhttp.send();
        }

        function timer_loop() {
            setInterval(send_token, 60000);
        }

        $(document).ready(function () {
            generate();
            timer_loop();
        })


    </script>
{% endblock %}
